*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: linear-gradient(15deg, #1CB394, #4ca2cd);
  position: relative;
}
.container {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(12, 4, 4, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 auto; 
}
.quote {
  font-size: 26px;
  line-height: 1.6;
  margin-top: 2em;
}
.author {
  font-size: 16px;
  font-style: italic;
  margin: 1em 0;
}
.infos {
  font-size: 16px;
  font-style: italic;
  margin: 1em 0;
}
/*------------------------------------*\
  $ BUTTON
\*------------------------------------*/
button {
  border: none;
  color: white;
  font-size: 12px;
  padding: 8px 14px;
  cursor: pointer;
}
.share-twitter {
  position: relative;
  padding-right: 30px;
  background-color: #3498db;
}
/*------------------------------------*\
  $ MEDIA QUERIE
\*------------------------------------*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}