/*------------------------------------*\
  $ GEN
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

@-webkit-keyframes gradientMood {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
}
@-moz-keyframes gradientMood {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
}

@-webkit-keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body {
  /* Animation */
  background: linear-gradient(270deg, #3bbbec, #bd3bec);
  background-size: 400% 400%;
  -webkit-animation: gradientMood 50s ease infinite;
  -moz-animation: gradientMood 50s ease infinite;
  animation: gradientMood 50s ease infinite;

  height: 100vh;
  text-align: center;
}
canvas {
  position: absolute; left: 0; bottom: 0;
}
/*------------------------------------*\
  $ TITLE
\*------------------------------------*/
.title-01 {
  color: #fff;
  font: 2.5rem "lobster";
  padding: 2rem 0 0;
  
}
/*------------------------------------*\
  $ BLOCK QUOTES
\*------------------------------------*/
section {
  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60vh;
}

.container {
  background-color: #fff;
  padding: 3.5rem 0.62rem 0.62rem;
  position: relative;
  width: 60vw;
  z-index: 5;
}
.face {
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute; left: 50%; top: -50px;
  transform: translateX(-50%);
  width: 100px; height: 100px;
}
.quote { 
  font: 300 1.5rem 'Roboto', sans-serif;
  padding: 0 0 1rem;
}

.author,
.infos {
  font: 300 1rem 'Roboto', sans-serif;
}
/*------------------------------------*\
  $ FOOTER
\*------------------------------------*/
.options {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.new-citation, .share-twitter {
  border: 0;
  color: #fff;
  cursor: pointer;
  font: 300 1rem 'Roboto', sans-serif;
  flex-basis: 50%;
  padding: 0.5rem;
}
.new-citation   { background-color: #194a8d; }
.share-twitter  { background-color: #3498db; }

/*------------------------------------*\
  $ MEDIA QUERIE
\*------------------------------------*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}