/*------------------------------------*\
  $ GEN
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

@-webkit-keyframes gradientMood {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
}
@-moz-keyframes gradientMood {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
}

@-webkit-keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientMood {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body {
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  /* animation */
  background: linear-gradient(270deg, #3bbbec, #bd3bec);
  background-size: 400% 400%;
  -webkit-animation: gradientMood 50s ease infinite;
  -moz-animation: gradientMood 50s ease infinite;
  animation: gradientMood 50s ease infinite;

  height: 100vh;

  
}
/*------------------------------------*\
  $ BLOCK QUOTES
\*------------------------------------*/
section {
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60vh;
}

.container {
  background-color: #fff;
  padding: 3rem 0.62rem 0.62rem;
  position: relative;
  width: 60vw;
}
.face {
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute; left: 50%; top: -40px;
  transform: translateX(-50%);
  width: 80px; height: 80px;
}
.quote {
  font: 300 1.5rem 'Roboto', sans-serif;
}
.author {
  border: 1px dashed green;
}
.infos {
  border: 1px dashed orange;
}
/*------------------------------------*\
  $ BUTTON
\*------------------------------------*/
button {
  border: none;
  color: red;
  font-size: 12px;
  padding: 8px 14px;
  cursor: pointer;
}
.share-twitter {
  position: relative;
  padding-right: 30px;
  background-color: #3498db;
}
/*------------------------------------*\
  $ MEDIA QUERIE
\*------------------------------------*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}